<div class='form-row'>
	<div class='col-6'>
		<%= f.submit 'Save Details', extra_class: 'btn-block' %>
	</div>
	<div class='col-6'>
		<%= link_to 'Close Account', admin_path(@admin), method: :delete, button: true, class: 'btn btn-block background-dark-red text-white', data: { confirm: 'Are you sure?' } %>
	</div>
</div>