<table class='table table-hover'>
	<tr class='row font-serif text-dark-red'>
		<th scope='col' class='col-4'>Name</th>
		<th scope='col' class='col-2 text-center'>Active?</th>
		<th scope='col' class='col-2'>Added</th>
		<th scope='col' class='col-2 text-center'>Drafted Recipes</th>
		<th scope='col' class='col-2 text-center'>Published Recipes</th>
	</tr>
	<%= render @admins %>
</table>