<div class='container wizard-form-container'>
	<div class='row'>
		<div class='col-4' id='ingredient-list'>
			<div>
				<p>coming soon</p>
			</div>
		</div>
		<div class='col-8' id='ingredient-form'>
			<%= render partial: 'ingredients/form' %>
		</div>
	</div>
</div>