<div class='container wizard-content'>
	<div class='row'>
		<div class='col-4' id='ingredient-list'>
			<%= render partial: 'ingredients/list', locals: { ingredients: @recipe.ingredients } %>
		</div>
		<div class='col-8' id='ingredient-form'>
			<%= render partial: 'ingredients/form' %>
		</div>
	</div>
</div>