<div class='container wizard-content'>
	<div class='row'>
		<div class='col-4' id='step-list'>
			<p>coming soon</p>
		</div>
		<div class='col-8' id='step-form'>
			<%= render partial: 'steps/form' %>
		</div>
	</div>
</div>