<div class='wizard-nav'>
	<div class='container'>
		<ul class='nav'>
			<li class='nav-item'>
				<%= link_to 'Dish Information', edit_recipe_path(@recipe), remote: true, class: "nav-link#{@ingredient || @step ? '' : ' active'}" %>
			</li>
			<li class='nav-item'>
				<%= link_to 'Ingredients', new_recipe_ingredient_path(@recipe), remote: true, class: "nav-link#{@ingredient ? ' active' : ''}" %>
			</li>
			<li class='nav-item'>
				<%= link_to 'Preparation', edit_recipe_path(@recipe), remote: true, class: 'nav-link disabled' %>
			</li>
		</ul>
	</div>
</div>