<div class='col-12'>
	<h1 class='text-red font-serif'><%= icon('fa', 'edit', class: 'text-dark-teal') %> Recipe Editor</h1>
	<p class='lead' id='wizard-text'>Add ingredients, directions and information about the dish.</p>
</div>