<div class='row'>
	<div class='col-12'>
		<h1>Recipe Wizard</h1>
		<p class='lead' id='wizard-text'>Add ingredients, preparation steps and information about the dish.</p>
	</div>
</div>
<div class='row' id ='wizard-tabs'>
	<%= render partial: 'tabs' %>
</div>
<div class='row' id='wizard-content'>
	<%= render partial: 'form' %>
</div>