<div class='row' id='wizard-head'>
	<%= render partial: 'wizard_head' %>
</div>
<div class='row' id ='wizard-tabs'>
	<%= render partial: 'tabs' %>
</div>
<div class='row' id='wizard-content'>
	<%= render partial: 'form' %>
</div>