<div class='row' id='wizard-head'>
	<%= render partial: 'wizard_head' %>
</div>
<div class='row' id ='wizard-nav'>
	<%= render partial: 'wizard_nav' %>
</div>
<div class='row' id='wizard-content'>
	<%= render partial: 'form' %>
</div>