<div class='container'>
	<h4 class='font-cursive'>Ingredients So Far</h4>
	<ul class='list-unstyled ingredient-wizard-list'>
    <% ingredients.each do |ingredient| %>
		  <%= render partial: 'wizard_ingredient', locals: { ingredient: ingredient } %>
    <% end %>
	</ul>
</div>