<div class='row head-row' id='wizard-head'>
	<%= render partial: 'recipes/wizard_head' %>
</div>
<div class='row' id ='wizard-tabs'>
	<%= render partial: 'recipes/wizard_nav' %>
</div>
<div class='row' id='wizard-content'>
	<%= render partial: 'recipes/ingredient_wizard' %>
</div>