/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Permanent+Marker');
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome";

body {
	background-color: #FFFAF3;
}

#wizard-head {
	min-height: 180px;
	padding-top: 32px;
	border-bottom: 3px solid #BDC3C7;
}

.wizard-content {
	padding: 32px;
	border: 3px solid #BDC3C7;
	border-radius: 3px;
	margin-left: 16px;
	margin-right: 16px;
	min-height: 480px;
	background: #EDE3D3;
	h4 {
		font-family: 'Permanent Marker', cursive;
	}
	label {
		font-family: 'Rock Salt', cursive;
		font-size: 0.8em;
	}
	.btn {
		background: #48873D;
		font-family: 'Permanent Marker', cursive;
		color: black;
	}
}

.wizard-nav {
	padding-left: 4px;
	padding-right: 4px;
	a {
		color: #48873D;
	}
}

.wizard-list-item {
	width: 100%;
	border-bottom: 1px dotted #BDC3C7;
	.wizard-list-display {
		font-family: 'Rock Salt', cursive;
		font-size: 0.8em;
	}
	a {
		color: #48873D;
	}
}

#active-check {
	padding-top: 32px;
	padding-left: 16px;
}

#recipe-errors {
	display: none;
}

#publish-section {
	padding-bottom: 8px;
	.btn {
		margin-top: 8px;
	}
}

#recipe-image {
	max-height: 300px;
	max-width: 300px;
}

#recipe-head {
	padding-bottom: 8px;
	padding-top: 8px;
	margin-bottom: 8px;
	border-bottom: 1px dotted #BDC3C7;
}

#recipe-stats {
	padding-top: 16px;
	border-bottom: 1px dotted #BDC3C7;
	margin-bottom: 8px;
	dd, dt {
		margin-bottom: 8px;
		font-size: 0.8em;
	}
}

#recipe-body {
	h3 {
		padding-bottom: 6px;
		border-bottom: 1px dotted #BDC3C7;
	}
}

#recipe-directions {
	border-left: 1px dotted #BDC3C7;
}