/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Permanent+Marker|Crete+Round|Raleway');
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome-sprockets";
@import "font-awesome";

// fonts
$font-serif: 'Crete Round', serif;
$font-cursive-head: 'Permanent Marker', cursive;
$font-cursive-body: 'Rock Salt', cursive;
// colors
$light-red: #EC7063;
$red: #E74C3C;
$dark-red: #B03A2E;

$light-teal: #76D7C4;
$teal: #48C9B0;
$dark-teal: #138D75;

$white: #FFFFFF;
$light-grey: #D3D3D3;
$grey: #A9A9A9;
$dark-grey: #808080;
$black: #000000;

// global
body {
	padding-top: 56px;
	background-color: #FFFAF3;
	font-family: 'Raleway', sans-serif;
	a {
		color: $teal;
	}
	a:hover, a:link {
		color: $dark-teal;
	}
	a.text-red:hover, a.text-red:link {
		color: $dark-red;
	}
	a.text-grey:hover, a.text-grey:link {
		color: $dark-grey;
	}
	a.text-white:hover, a.text-white:link {
		color: $light-grey;
	}
	.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
	  color: inherit;
	  text-decoration: inherit;
	}
	.head-row {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.navbar-text {
		margin-right: 12px;
	}
}

// helper classes
.font-serif {
	font-family: $font-serif;
}

.font-cursive {
	font-family: $font-cursive-body;
}

h1.font-cursive, h2.font-cursive,
h3.font-cursive, h4.font-cursive,
h5.font-cursive, h6.font-cursive,
button.font-cursive {
	font-family: $font-cursive-head;
}

.text-light-red {
	color: $light-red;
}

.text-red {
	color: $red;
}

.text-dark-red {
	color: $dark-red;
}

.text-light-teal {
	color: $light-teal;
}

.text-teal {
	color: $teal;
}

.text-dark-teal {
	color: $dark-teal;
}

.text-white {
	color: $white;
}

.text-light-grey {
	color: $light-grey;
}

.text-grey {
	color: $grey;
}

.text-dark-grey {
	color: $dark-grey;
}

.text-black {
	color: $black;
}

.background-light-red {
	background: $light-red;
}

.background-red {
	background: $red;
}

.background-dark-red {
	background: $dark-red;
}

.background-light-teal {
	background: $light-teal;
}

.background-teal {
	background: $teal;
}

.background-dark-teal {
	background: $dark-teal;
}

.background-white {
	background: $white;
}

.background-light-grey {
	background: $light-grey;
}

.background-grey {
	background: $grey;
}

.background-dark-grey {
	background: $dark-grey;
}

.background-black {
	background: $black;
}

// components
.wizard-content {
	padding: 32px;
	border: 3px solid #BDC3C7;
	border-radius: 3px;
	margin-left: 16px;
	margin-right: 16px;
	min-height: 480px;
	background: #EDE3D3;
	label {
		font-family: $font-cursive-body;
		font-size: 0.8em;
	}
}

.wizard-nav {
	padding-left: 4px;
	padding-right: 4px;
}

.wizard-list-item {
	width: 100%;
	border-bottom: 1px dotted #BDC3C7;
	.wizard-list-display {
		font-size: 0.8em;
	}
}

#active-check {
	padding-top: 32px;
}

#recipe-image {
	max-height: 300px;
	max-width: 300px;
}

#recipe-head {
	margin-bottom: 8px;
	border-bottom: 1px dotted #BDC3C7;
	#recipe-byline {
		font-size: 0.9em;
	}
	h1 {
		i {
			margin-right: 12px;
		}
	}
}

#recipe-stats {
	padding-top: 16px;
	border-bottom: 1px dotted #BDC3C7;
	margin-bottom: 8px;
	dd, dt {
		margin-bottom: 8px;
		font-size: 0.8em;
	}
}

#recipe-body {
	h3 {
		padding-bottom: 6px;
		border-bottom: 1px dotted $teal;
	}
	.step-order {
		font-size: 1.2em;
	}
}

#recipe-directions {
	border-left: 1px dotted $teal;
}
